.products{
    padding:100px 0;
    text-align:center;
}

.products h1{
    font-size:56px;
    color:var(--primary);
    margin-bottom:20px;
}

.products p{
    max-width:700px;
    margin:auto;
    font-size:20px;
    color:var(--text-light);
}