.section {
  position: relative;

  padding: 60px 0;

  scroll-margin-top: 100px;
}

@media (max-width: 992px) {

  .section {
    padding: 50px 0;

    scroll-margin-top: 90px;
  }

}

@media (max-width: 576px) {

  .section {
    padding: 40px 0;

    scroll-margin-top: 80px;
  }

}